@import url('https://fonts.googleapis.com/css?family=Alata|Roboto&display=swap');

*{
    box-sizing: border-box;
  }
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Alata';
}
body{
    background-color: #F5F9FA;
    font-family: 'Alata';
}
img{
	object-fit: cover;
}

.card {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    margin-bottom: 10px;
    border-radius: 12px;
}

.cardM{
    margin-bottom: 16px;
}

.cardD{
    margin-bottom: 0px;
}

#share{
    padding-bottom: 12px;
}


#cardP {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100vh;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    background-color: #0251D9;
    border-radius: 8px;
}

.monthly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#table-row{
    display: flex;
    width: 70px;
}

#tCard{
    height: 130px;
    padding-bottom: 10px;
}

#reason{
    max-width: 100%;
}
#tCard:hover{
    background-color: #ace5ef61;
    cursor: pointer;
}

#sidebarArea{
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px;
}

.expData{
    text-align: center; 
    vertical-align: middle;
}

.resHtag{
    display: none;
}


@media only screen and (max-width: 600px) {
    #tCard {
        display: grid;
        height: auto;
    }
    #tHead{
        display: none;
    }

    .expData{
        text-align: left; 
        vertical-align: middle;
    }
    .table > :not(caption) > * > * {
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .resHtag{
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    #tRow{
        display: grid;
        margin: 0px;
    }

    .cardD{
        margin-bottom: 10px;
    }

    #sidebarArea{
        border-top-right-radius: 0px; 
        border-bottom-left-radius: 25px;
    }
}


.monthly1{
    position: absolute;
    top: 10%;
    left: 35%;
    width: 100%;
    height: 100%;
    
    border-radius: 8px;
    color: white;
    text-align: center;
    
}
::-webkit-scrollbar {
    width: 0px;
    height:0.2%; 
    }



#name-reported{
    padding-left: 4%;
    padding-top: 2%;
}
#returned-header{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#returned-business{
    padding-left: 2%;
}
#returned-Qnt{
    padding-left: 14%;
}
#returned-Price{
    padding-left: 14%;
}
#returned-total{
    padding-left: 14%;
}
#returned-item-name{
    
    
    
    overflow: auto;
   
    max-width: 10px;
  height: 25px;
}
#returned-x-scroll{
    height: 80px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid gray;
}
#returned-Qnt-name{
    padding-left: 26%;
    overflow: auto;

    max-width: 70px;
  height: 25px;
}
#returned-igst{
    padding-left: 14%;
}
#returned-cgst{
    padding-left: 14%;
}
#returned-table{
    width: 100%;

}
#pagenot{
    display: flex;
    align-items: center;
    justify-content: center;
}
#all-exclaim-logo{
    padding-left: 15%;
}
#all-exclaim-download{
    padding-left: 5%;
}