*{
    box-sizing: border-box;
  }
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E7F5F8;
    
}
img{
	object-fit: cover;
}

::-webkit-scrollbar {
    width: 0px;
    height:0.2%; 
    }

#sidebarArea{
    position:relative;
    /* background:"#03045E"; */
}

#sidebarArea:before{
        content: "";
        position:absolute;
        top:-40px;
        left:0;
        height:40px;
        width: 40px;
        border-bottom-left-radius: 50%;
        background:#000;
      
}

#sidebarArea:after{
    box-shadow: 0 20px 0 0 #522d5b;
}

#name-reported{
    padding-left: 4%;
    padding-top: 2%;
}
#returned-header{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#returned-business{
    padding-left: 2%;
}
#returned-Qnt{
    padding-left: 14%;
}
#returned-Price{
    padding-left: 14%;
}
#returned-total{
    padding-left: 14%;
}
#returned-item-name{
    
    
    
    overflow: auto;
   
    max-width: 10px;
  height: 25px;
}
#returned-x-scroll{
    height: 80px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid gray;
}
#returned-Qnt-name{
    padding-left: 26%;
    overflow: auto;

    max-width: 70px;
  height: 25px;
}
#returned-igst{
    padding-left: 14%;
}
#returned-cgst{
    padding-left: 14%;
}
#returned-table{
    width: 100%;

}
#pagenot{
    display: flex;
    align-items: center;
    justify-content: center;
}
#all-exclaim-logo{
    padding-left: 15%;
}
#all-exclaim-download{
    padding-left: 5%;
}