#logout-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
    
}
#logout-btn{
    height: 40px;
}

.menuButton{
   display: none;
}

.logoutbtn{
    padding-left: 6.5%;
}
@media only screen and (max-width: 600px) {
    .menuButton {
      display:block;
      width:100%;
    }
    .logoutbtn {
        padding-left: 4.5%;
    }
  }
  