#logout-btn:hover{
    background-color: rgba(218, 20, 20, 0.866);
    border-radius: 8px;
    
}
#logout-btn{
    height: 40px;
}

.sidebarArea .sidenav-bg .active {
    background-color: #0251D9;
    border-radius: 8px;
    color: white;
}



.sidebarArea .nav-link {
    color: #badafa;
}

.menuButton{
   display: none;
}

.logoutbtn{
    padding-left: 6.5%;
}
@media only screen and (max-width: 600px) {
    .menuButton {
      display:block;
      width:100%;
    }
    .logoutbtn {
        padding-left: 4.5%;
    }
  }
  